<% provide(:title, 'Контакты') %>
<!DOCTYPE html>
<h1>Контакты</h1>
<ul type="none">
<h3>Техническая поддержка</h3>
<li> <a href="mailto:example@example.ru">example@example.ru</a> добавочный 3222</li>
<h3>Обработка заявок</h3>
<li>Иванов example@example.ru добавочный 3222</li>
<li>Иванов example@example.ru добавочный 3220</li>
<li>Иванов example@example.ru добавочный 3221</li>
</ul>

