<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Заявки на перевозки", root_path, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "Заявки",    root_path %></li>
              <li><%= link_to "Справка",    help_path  %></li>
            </ul>
          </nav>
        </div>
      </div>
</header>